<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokemon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,723}</string>
                <key>spriteSourceSize</key>
                <string>{736,723}</string>
                <key>textureRect</key>
                <string>{{863,1},{736,723}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,518}</string>
                <key>spriteSourceSize</key>
                <string>{600,518}</string>
                <key>textureRect</key>
                <string>{{1475,805},{600,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokemon18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,737}</string>
                <key>spriteSourceSize</key>
                <string>{700,737}</string>
                <key>textureRect</key>
                <string>{{773,826},{700,737}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1175,1565},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1601,1},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1601,403},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,231}</string>
                <key>spriteSourceSize</key>
                <string>{218,231}</string>
                <key>textureRect</key>
                <string>{{234,1728},{218,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokemon29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{773,1565},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,823}</string>
                <key>spriteSourceSize</key>
                <string>{860,823}</string>
                <key>textureRect</key>
                <string>{{1,1},{860,823}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,219}</string>
                <key>spriteSourceSize</key>
                <string>{231,219}</string>
                <key>textureRect</key>
                <string>{{1,1728},{231,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,770}</string>
                <key>spriteSourceSize</key>
                <string>{900,770}</string>
                <key>textureRect</key>
                <string>{{1,826},{900,770}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokemon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,505}</string>
                <key>spriteSourceSize</key>
                <string>{534,505}</string>
                <key>textureRect</key>
                <string>{{1475,1407},{534,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokemon-3.png</string>
            <key>size</key>
            <string>{2002,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d2cc34055fd108eb5a6c4b9cc99644:87fc4d398fa990f619bcc336af5dbef4:bf41e13f6cba19094c4c69632f539d75$</string>
            <key>textureFileName</key>
            <string>pokemon-3.png</string>
        </dict>
    </dict>
</plist>
