<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokemon16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1725,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1377,678},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,1312},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,692}</string>
                <key>spriteSourceSize</key>
                <string>{650,692}</string>
                <key>textureRect</key>
                <string>{{1,660},{650,692}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokemon32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,631}</string>
                <key>spriteSourceSize</key>
                <string>{600,631}</string>
                <key>textureRect</key>
                <string>{{1377,1320},{600,631}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokemon36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,678}</string>
                <key>spriteSourceSize</key>
                <string>{680,678}</string>
                <key>textureRect</key>
                <string>{{695,678},{680,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{603,1358},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1725,303},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,657}</string>
                <key>spriteSourceSize</key>
                <string>{860,657}</string>
                <key>textureRect</key>
                <string>{{1,1},{860,657}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,675}</string>
                <key>spriteSourceSize</key>
                <string>{860,675}</string>
                <key>textureRect</key>
                <string>{{863,1},{860,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokemon-5.png</string>
            <key>size</key>
            <string>{2026,1959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d2cc34055fd108eb5a6c4b9cc99644:87fc4d398fa990f619bcc336af5dbef4:bf41e13f6cba19094c4c69632f539d75$</string>
            <key>textureFileName</key>
            <string>pokemon-5.png</string>
        </dict>
    </dict>
</plist>
