<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokemon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,678}</string>
                <key>spriteSourceSize</key>
                <string>{860,678}</string>
                <key>textureRect</key>
                <string>{{1027,1},{860,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,650}</string>
                <key>spriteSourceSize</key>
                <string>{763,650}</string>
                <key>textureRect</key>
                <string>{{1027,681},{763,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,896}</string>
                <key>spriteSourceSize</key>
                <string>{854,896}</string>
                <key>textureRect</key>
                <string>{{1,1027},{854,896}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokemon23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1301,1333},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{899,1333},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1553,1333},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokemon43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokemon-2.png</string>
            <key>size</key>
            <string>{1888,1882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d2cc34055fd108eb5a6c4b9cc99644:87fc4d398fa990f619bcc336af5dbef4:bf41e13f6cba19094c4c69632f539d75$</string>
            <key>textureFileName</key>
            <string>pokemon-2.png</string>
        </dict>
    </dict>
</plist>
