<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokemon17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1914}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1914}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokemon-0.png</string>
            <key>size</key>
            <string>{1922,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d2cc34055fd108eb5a6c4b9cc99644:87fc4d398fa990f619bcc336af5dbef4:bf41e13f6cba19094c4c69632f539d75$</string>
            <key>textureFileName</key>
            <string>pokemon-0.png</string>
        </dict>
    </dict>
</plist>
